.weui-cells__title {
    color: #785a32 !important;
    font-size: 16px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.weui-cells_radio .weui-cell__hd {
    padding-right: 0.35em;
}

[class^="weui-icon-"]:before,
[class*=" weui-icon-"]:before {
    margin: 0 !important;
}

.weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
    display: none !important;
}

.weui-cells_radio .weui-check:checked+.weui-icon-checked:after {
    content: '\EA06';
    color: #09BB07;
    font-size: 23px;
    display: block;
}

.weui-cells_radio .weui-icon-checked:before {
    content: '\EA01';
    color: #C9C9C9;
    font-size: 23px;
    display: block;
}

.weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
    content: '\EA06';
    color: #09BB07;
}

.weui-cells_radio .weui-check:checked+.vux-checklist-icon-checked:before {
    color: #09BB07;
}

.weui-cells_radio>label>* {
    pointer-events: none;
}

.weui-media-box__thumb {
    border-radius: 50% !important;
}

.weui-cells {
    background-color: #faf5f0 !important;
}

.weui-cells:after {
    border-bottom: none !important;
}